{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Votre nom d'utilisateur et mot de passe ne correspondent pas. Essayez de nouveau.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Votre compte n'a pas accès à cette page.</p>
    {% else %}
    <p>Connectez-vous pour voir cette page</p>
    {% endif %}
{% endif %}

<div class="presentation">
  <h1>Login</h1>
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <div>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </div>
  <div>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </div>

  <div>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  </form>
</div>


{% endblock %}