{% extends 'base.html' %}

{% block content %}
    <div id="produit">
        {% if produit.published_date %}
            <div class="date">
                {{ produit.published_date }}
            </div>
            {% if produit.image %}
                <img src="{{ produit.image.url }}"/>
            {% endif %}
            <p>{{ produit.descriptif }}</p>
            <div class="prix">
                <p>Prix : {{ produit.prix }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
