{% extends 'base.html' %}

{% block content %}
    <div id="produit">
        {% if produit.published_date %}
            <div class="date">
                {{ produit.published_date }}
            </div>
            <p id="nomProduit"> {{ produit.nom }} </p>
            {% if produit.image %}
                <img src="{{ produit.image.url }}"/>
            {% endif %}
            <p id="descriptif">{{ produit.descriptif }}</p>
            <div class="prix">
                <p>Prix : {{ produit.prix }}</p>
            </div>
        {% endif %}
    </div>
    <hr />
    <div class="bouton">
        <a class="btn btn-default" href="{% url 'add_comment_to_produit' pk=produit.pk %}">Ajouter un commentaire</a>
    </div>
    {% for comment in produit.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.auteur }}</strong>
            <p>{{ comment.commentaire|linebreaks }}</p>
        </div>
        {% empty %}
            <p id="no_comment">Aucun commentaire :(</p>
    {% endfor %}
{% endblock %}
