body {
  font: 300 100% 'Helvetica Neue', Helvetica, Arial;
  text-align: center;
}

#global {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

#contact {
  text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
  text-align: center;
    margin-left: auto;
    margin-right: auto;
}

hr {
  height: .05rem;
  width: 25%;
  margin: 0;
  background: #444;
  border: none;
  transition: .3s ease-in-out;
}

.date {
    color: #828282;
    line-height: 60%
}

.produit {
    margin-bottom: 70px;
}
