body {
  font: 300 100% 'Helvetica Neue', Helvetica, Arial;
  text-align: center;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#global {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

.contact {
  text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#produit {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#descriptif {
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
}

#nomProduit {
  font-size: 25px;
}

#user {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-top: 12px;
}

.container {
  width: 50%;
  margin: 0 auto;
}

footer {
  text-align: center;
    margin-left: auto;
    margin-right: auto;
}

hr {
  height: .05rem;
  width: 50%;
  margin: 0;
  background: #444;
  border: none;
  transition: .3s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.presentation {
  text-align: center;
}

.last_prod {
  text-align: center;
}

.date {
    color: #828282;
    line-height: 60%
}

.prix {
    font-size: 20px;
    color: #990000;
    line-height: 120%
}
