{% load static %}
{% load bootstrap3 %}

<html>
    <head>
	<!-- Chargement du CSS -->
	{% load bootstrap3 %}
	{% bootstrap_css %}
	{% bootstrap_messages %}
        <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "test.css" %}">
    </head>
    <body>

    <div class="container">
	  <ul>
	    <li class="one"><a href="#">Accueil</a></li><!--
	 --><li class="two"><a href="#">Services</a></li><!----><li class="three"><a href="#">Blog</a></li><!--
	 --><li class="four"><a href="#">Contact</a></li>
	    <hr />
	  </ul>
	</div>

	<img src="{% static "logoPenguin.png" %}" alt="Logo" />
	
        {% block content %}
        {% endblock %}

        {% block javascript %}
        {% endblock %}

        {% block css %}
        {% endblock %}

	
	<!-- Chargement du javascript -->
	{% bootstrap_javascript jquery=1 %}
    </body>
</html>
