{% load static %}
{% load bootstrap3 %}

<html>
    <head>
	<!-- Chargement du CSS -->
	{% load bootstrap3 %}
	{% bootstrap_css %}
	{% bootstrap_messages %}
        <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "test.css" %}">
    </head>
    <body>
    	<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">Banquise Market</a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li class="{% if nbar == undefined %}active{% endif %}"><a href="/">Accueil <span class="sr-only">(current)</span></a></li>
			        <li class="{% if nbar == 'produits' %}active{% endif %}"><a href="/produits">Produits</a></li>
			        <li class="{% if nbar == 'contact' %}active{% endif %}"><a href="/contact">Contact</a></li>
			        <li class="{% if nbar == 'archives' %}active{% endif %}"><a href="/archives">Archives</a></li>
			        <li class="{% if nbar == 'mentions' %}active{% endif %}"><a href="/mentions">Mentions légales</a></li>
			      </ul>
			      <ul class="nav navbar-nav navbar-right">
			      	{% if user.is_authenticated %}
			      	<li id="user">{{ user.get_username }}</li>
			      	<li class="{% if nbar == 'panier' %}active{% endif %}"><a href="/panier">Panier</a></li>
			      	<li class="{% if nbar == 'logout' %}active{% endif %}"><a href="/logout">Logout</a></li>

			      	{% else %}
			      	<li class="{% if nbar == 'signup' %}active{% endif %}"><a href="/signup">S'inscrire</a></li>
			        <li class="{% if nbar == 'login' %}active{% endif %}"><a href="/login">Login</a></li>
			        {% endif %}
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
	    <div id="global">
		    <!--<div class="container">
			  <ul>
			    <li class="one"><a href="/">Accueil</a></li>
			 	<li class="two"><a href="/produits">Produits</a></li>
			    <li class="three"><a href="/contact">Contact</a></li>
			 	<li class="four"><a href="/archive">Archives</a></li>
			 	<li class="five"><a href="/mentions">Mentions légales</a></li>
			    <hr />
			  </ul>
			</div>-->
	
			{% block content %}
        	{% endblock %}

        	<footer>
        		<img src="{% static "logoPenguin.png" %}" alt="Logo" />
        	</footer>
		</div>

        {% block javascript %}
        {% endblock %}

        {% block css %}
        {% endblock %}
	<!-- Chargement du javascript -->
	{% bootstrap_javascript jquery=1 %}
    </body>
</html>
