{% extends "base.html" %}

{% load static %}

{% block title %}BanquiseMarket - Accueil{% endblock %}

{% block content %}

<div class="presentation">
    {% if user.is_authenticated %}
	<h1>Bienvenue {{ user.get_username }} sur Banquise Market</h1>
    {% else %}
    <h1>Bienvenue sur Banquise Market</h1>
    {% endif %}
	<h2>La référence des distrutions Linux</h2>
	<p>Nous vendons les distributions Linux les plus utilisées et performantes au monde, <br/>
	de Linux Mint, Ubuntu à Kali Linux, il y en a pour tous les goûts</p>
	<p>En ce moment ne manquez pas nos promotions sur les dernières versions d'Ubuntu !</p>
    <a href="/rss-feed"><img src="{% static "rss-big-small.jpg" %}" alt="RSS" height="32" width="32" /></a>
</div>
<div class="last_prod">
	<h2>Dernier produit ajouté</h2>
	<div id="produit"> 
        <div class="date">
            <p>Date de publication: {{ last_prod.published_date }}</p>
        </div>
        <h1><a href="{% url 'produit_detail' pk=last_prod.pk %}">{{ last_prod.nom }}</a></h1>
        {% if last_prod.image %}
            <img src="{{ last_prod.image.url }}" height="200" width="200"/>
        {% endif %}
        <div class="prix">
            <p> Prix de l'article: {{ last_prod.prix }}</p>
        </div>
        <hr />
    </div>
</div>

{% endblock %}
